/* header section */
.bg-img {
  background-image: url("resources/Banner\ Image.png");

  height: 600px;
  flex-shrink: 0;
  border-radius: 16px;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 50px;
}
.text-title {
  text-align: center;
  color: white;
  padding-top: 85px;
}
.text-title h4 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-title h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}
/* main section */
.discount {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 120px;
}
.discount-text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dis-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.new-year-image {
  height: 500px;
  flex-shrink: 0;
  background-image: url("resources/New\ Year\ Photo.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* welcome party section */
.welcome-party {
  background-image: url("resources/Vectorrr.png");
background-repeat: no-repeat;
/* still not done */
  height: 600px;
  flex-shrink: 0;

  
}
.welcome-party {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    padding: 126px 552px 298px 126px;
}


/* detail section */
.time-detail{
    position: top;
   background: #000; 
height: 482px;
flex-shrink: 0;
fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
border: 1px solid;
}
.party{
    margin-top: 63px;
    margin-bottom: ;
}
.dtail{
    display: flex;
    flex-direction: column;
}